@model StudentEmploymentPortal.ViewModels.RecruiterViewModels.JobPostViewModel

@{
    ViewData["Title"] = "Create Job Post";
    var tradingName = ViewBag.TradingName;
}



<div class="row pt-4">
    <div class="col-md-8 mx-auto section-content">
        <h1 class="pt-4 text-center">@ViewData["Title"]</h1>

        <hr />
        <form id="jobPostForm" method="post" asp-controller="JobPost" asp-action="SaveJobPost">
            @Html.AntiForgeryToken()

            <div class="form-floating mb-4">
                <select asp-for="RecruiterType" asp-items="Model.RecruiterTypeOptions" class="form-select"></select>
                <label asp-for="RecruiterType">Recruiter Type</label>
            </div>

            <div class="form-floating mb-4 facultyDeptDiv">
                <select asp-for="Faculty" id="faculty" asp-items="Model.FacultyOptions" class="form-select"></select>
                <label asp-for="Faculty">Faculty</label>
            </div>

            <div class="form-floating mb-4">
                <select asp-for="Department" id="department" class="form-select" name="Department"></select>
                <label asp-for="Department">Department</label>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="JobTitle" class="form-control" placeholder="Job Title">
                <label asp-for="JobTitle">Job Title</label>
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Location" class="form-control" placeholder="Location">
                <label asp-for="Location">Location</label>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="JobDescription" class="col-form-label">Job Description:</label>
                <textarea asp-for="JobDescription" class="form-control" rows="5"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="KeyResponsibilities" class="col-form-label">Key Responsibilities:</label>
                <textarea asp-for="KeyResponsibilities" class="form-control" rows="5"></textarea>
                <span asp-validation-for="KeyResponsibilities" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="JobType" asp-items="Model.JobTypeOptions" class="form-select"></select>
                <label asp-for="JobType">Job Type</label>
            </div>

            <div class="form-floating mb-3 offpt">
                <select asp-for="PartTimeNumberOfHours" asp-items="Model.WeekHourOptions" class="form-select"></select>
                <label asp-for="PartTimeNumberOfHours">Part-Time Hours</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="StartDate" class="form-control custom-height" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                <label asp-for="StartDate">Start Date</label>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="EndDate" class="form-control custom-height" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                <label asp-for="EndDate" class="col-form-label-sm">End Date</label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HourlyRate">Hourly Rate:</label>
                <div class="input-group">
                    <span class="input-group-text">R</span>
                    <input asp-for="HourlyRate" class="form-control custom-height" type="number" min="0" />         
                </div>
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>


            <div class="form-group mb-4">
                <label>Years of Study</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsFirstYear" class="form-check-input bg-primary" id="chkFirstYear" />
                        <label class="form-check-label" for="chkFirstYear">1st Year</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsSecondYear" class="form-check-input bg-primary" id="chkSecondYear" />
                        <label class="form-check-label" for="chkSecondYear">2nd Year</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsThirdYear" class="form-check-input bg-primary" id="chkThirdYear" />
                        <label class="form-check-label" for="chkThirdYear">3rd Year</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsHonours" class="form-check-input bg-primary" id="chkHonours" />
                        <label class="form-check-label" for="chkHonours">Honours</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsGraduates" class="form-check-input bg-primary" id="chkGraduates" />
                        <label class="form-check-label" for="chkGraduates">Graduates</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsMasters" class="form-check-input bg-primary" id="chkMasters" />
                        <label class="form-check-label" for="chkMasters">Masters</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsPhD" class="form-check-input bg-primary" id="chkPhD" />
                        <label class="form-check-label" for="chkPhD">PhD</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" asp-for="IsPostdoc" class="form-check-input bg-primary" id="chkPostdoc" />
                        <label class="form-check-label" for="chkPostdoc">Postdoc</label>
                    </div>
                </div>
            </div>


            <div class="form-floating mb-4">
                <select asp-for="Nationality" asp-items="Model.NationalityOptions" class="form-select"></select>
                <label asp-for="Nationality">Nationality</label>
            </div>

            <div class="form-group mb-3">
                <label asp-for="MinRequirements" class="col-form-label">Minimum Requirements:</label>
                <textarea asp-for="MinRequirements" class="form-control" rows="5"></textarea>
                <span asp-validation-for="MinRequirements" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ApplicationInstruction" class="col-form-label">Application Instructions:</label>
                <textarea asp-for="ApplicationInstruction" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ApplicationInstruction" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="ClosingDate" class="form-control custom-height" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                <label asp-for="ClosingDate">Closing Date</label>
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="ContactPerson" placeholder="Contact Person" class="form-control">
                <label asp-for="ContactPerson">Contact Person</label>         
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="ContactNo" placeholder="Contact No" class="form-control" />
                <label asp-for="ContactNo">Contact No</label>
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Recruiter" asp-action="RecruiterDashboard" asp-area="RecruiterJ" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Toggle visibility and type of Department and visibility of Faculty based on the selected RecruiterType
            $("#RecruiterType").on("change", function () {
                var recruiterType = $(this).val();
                var departmentElement = $("#department");
                var facultyElement = $(".facultyDeptDiv");

                if (recruiterType === "External") {
                    departmentElement.replaceWith('<input asp-for="Department" class="form-control" id="department" readonly value="' + '@tradingName' + '" name="Department" />');
                    facultyElement.hide();
                    // Reset the faculty select element to the first option
                    $("#faculty").val(''); // Reset the value of the select element
                } else {
                    departmentElement.replaceWith('<select asp-for="Department" class="form-select" id="department" name="Department"></select>');
                    facultyElement.show();
                    // Reset the faculty select element to the first option
                    $("#faculty").val(''); // Reset the value of the select element
                }
            }).trigger("change");
        });
    </script>

}

