@model StudentEmploymentPortal.ViewModels.StudentApplicationViewModels.PartialStudentApplicationViewModel

@{
    ViewData["Title"] = "Application Review";
}

<h1>@ViewData["Title"]</h1>
<br />

<form id="saveForm" method="post" asp-controller="Recruiter" asp-action="PartialRecruiterStudentApplicationReview">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="jobPostId" />

    <div class="recruiter-details pb-4">

        <h3 class="section-heading">Job Post</h3>
        <div class="section-content">
            <div class="table-responsive">
                <table class="custom-table">
                    <tbody>
                        <tr>
                            <th>Job Title</th>
                            <td>@Model.JobTitle</td>
                        </tr>
                        <tr>
                            <th>Job Description</th>
                            <td>@Model.JobDescription</td>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <td>@Model.Department</td>
                        </tr>
                        <tr>
                            <th>Course</th>
                            <td>@Model.Course</td>
                        </tr>
                        <tr>
                            <th>Years of Study Options</th>
                            <td>@string.Join(", ", Model.Levels)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <h3 class="section-heading">Student Profile</h3>
        <div class="section-content">
            <div class="table-responsive">
                <table class="custom-table">
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>@Model.Surname</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>@Model.Address</td>
                        </tr>
                        <tr>
                            <th>Career Objective</th>
                            <td>@Model.CareerObjective</td>
                        </tr>
                        <tr>
                            <th>Skills</th>
                            <td>@Model.Skills</td>
                        </tr>
                        <tr>
                            <th>Achievements</th>
                            <td>@Model.Achievements</td>
                        </tr>
                        <tr>
                            <th>Interests</th>
                            <td>@Model.Interests</td>
                        </tr>
                        <tr>
                            <th>ID Number</th>
                            <td>@Model.IDNumber</td>
                        </tr>
                        <tr>
                            <th>Race</th>
                            <td>@Model.Race</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>@Model.Gender</td>
                        </tr>
                        <tr>
                            <th>License</th>
                            <td>@Model.DriversLicense</td>
                        </tr>
                        <tr>
                            <th>Nationality</th>
                            <td>@Model.Nationality</td>
                        </tr>
                        <tr>
                            <th>Current Year of Study</th>
                            <td>@Model.CurrentYearOfStudy</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>@Model.Telephone</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.Email</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <h3 class="section-heading">Qualifications</h3>
        <div class="section-content">
            @if (Model.Qualifications.Count > 0)
            {
                foreach (var qualification in Model.Qualifications)
                {
                    <div class="qualification-details">
                        <div class="table-responsive">
                            <table class="custom-table">
                                <tbody>
                                    <tr>
                                        <th>Institution</th>
                                        <td>@qualification.Institution</td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>@qualification.Date</td>
                                    </tr>
                                    <tr>
                                        <th>Qualification</th>
                                        <td>@qualification.Qualification</td>
                                    </tr>
                                    <tr>
                                        <th>Majors</th>
                                        <td>@qualification.Majors</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                     
                    </div>
                    <hr/>
                }
            }
            else
            {
                <p>No qualifications found.</p>
            }
        </div>

        <h3 class="section-heading">Referees</h3>
        <div class="section-content">
            @if (Model.Referees.Count > 0)
            {
                foreach (var referee in Model.Referees)
                {
                    <div class="table-responsive">
                        <table class="custom-table">
                            <tbody>
                                <tr>
                                    <th>Full Name</th>
                                    <td>@referee.FullName</td>
                                </tr>
                                <tr>
                                    <th>Job Title</th>
                                    <td>@referee.JobTitle</td>
                                </tr>
                                <tr>
                                    <th>Institution</th>
                                    <td>@referee.Institution</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>@referee.Email</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr/>
                }
                
            }
            else
            {
                <p>No referees found.</p>
            }
        </div>

        <h3 class="section-heading">Work Experience</h3>
        <div class="section-content">
            @if (Model.WorkExperiences.Count > 0)
            {
                foreach (var workExperience in Model.WorkExperiences)
                {
                    <div class="table-responsive">
                        <table class="custom-table">
                            <tbody>
                                <tr>
                                    <th>Employer</th>
                                    <td>@workExperience.Employer</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>@workExperience.Date</td>
                                </tr>
                                <tr>
                                    <th>Job Title</th>
                                    <td>@workExperience.JobTitle</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr />
                }
                
            }
            else
            {
                <p>No work experiences found.</p>
            }
        </div>

        <h3 class="section-heading">Documents</h3>
        <div class="section-content">
            @if (Model.DocumentViewModels.Count > 0)
            {
                <div class="table-responsive">
                    <table class="documents-table ">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var document in Model.DocumentViewModels)
                            {
                                <tr>
                                    <td>@document.DocumentName</td>
                                    <td><a href="@Url.Content("~/Documents/" + document.FilePath)" target="_blank">@document.DocumentName</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No documents added.</p>
            }
        </div>


        <div class="form-floating py-2 col-12 col-md-6">
            <label asp-for="SelectedStudentApplicationStatus" class="col-form-label-sm">Outcome</label>
            <select asp-for="SelectedStudentApplicationStatus" asp-items="Model.OutcomeOptions" class="form-select"></select>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary" onclick="submitForm()">Save</button>
            <a href="@Url.Action("ReviewStudentApplications", "Recruiter", new { area = "RecruiterJ", Model.jobPostId })" class="btn btn-danger view-applications-btn">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        function submitForm() {
            document.getElementById("saveForm").submit();
        }
    </script>
}