@model List<StudentEmploymentPortal.ViewModels.RecruiterViewModels.ReviewStudentsApplicationsViewModel>
@using StudentEmploymentPortal.Areas.Identity
@using Microsoft.AspNetCore.Identity

<h1 class="mb-4 mt-3">Review Applications</h1>

<form method="post" action="">
    <div class="input-group mb-3">
        <label class="sr-only" for="filterSelect">Filter By:</label>
        <div class="input-group-prepend">
            <span class="input-group-text">Filter By:</span>
        </div>
        <select class="form-control" id="filterSelect">
            <option value="all">All</option>
            <option value="interview">Interview</option>
            <option value="onhold">On hold</option>
            <option value="rejected">Rejected</option>
            <option value="successful">Successful</option>
            <option value="pending">Pending</option>
        </select>
    </div>
</form>
@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-hover table-default">
            <thead>
                <tr class="table-primary">
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Level</th>
                    <th>Gender</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var studentApplication in Model)
                {
                    <tr onclick="openPartialView('@Url.Action("PartialRecruiterStudentApplicationReview", "Recruiter", new { area = "RecruiterJ", id = studentApplication.StudentApplicationId })')">
                        <td>@studentApplication.FirstName</td>
                        <td>@studentApplication.Surname</td>
                        <td>@studentApplication.Department</td>
                        <td>@studentApplication.Course</td>
                        <td>@studentApplication.Level</td>
                        <td>@studentApplication.Gender</td>
                        <td>@studentApplication.StudentApplicationStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No student applications available.</p>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#filterSelect').on('change', function () {
                var selectedFilter = $(this).val();
                filterRows(selectedFilter);
            });

            function filterRows(filter) {
                $('tbody tr').each(function () {
                    var status = $(this).find('td:nth-child(7)').text();

                    if (filter === 'all' || status.toLowerCase() === filter.toLowerCase()) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}