@model StudentEmploymentPortal.ViewModels.StudentViewModels.StudentJobPostViewModel

@{
    ViewData["Title"] = "Job Post Details";
}

<h1 class="section-heading">@ViewData["Title"]</h1>
<br />

<form method="post" asp-controller="StudentApplication" asp-action="CreateApplication" asp-area="StudentApplicationJ">
    <div class="section-content">

        <input type="hidden" name="JobPostId" value="@Model.JobPostId" />
        <p><strong>Job Title:</strong> @Model.JobTitle</p>
        <p><strong>Location:</strong> @Model.Location</p>
        <p><strong>Job Description:</strong> @Model.JobDescription</p>
        <p><strong>Key Responsibilities:</strong> @Model.KeyResponsibilities</p>
        <p><strong>Job Type:</strong> @Model.JobType</p>
        @if (Model.JobType.ToString() != "FullTime")
        {
            <p><strong>Part-Time Number of Hours:</strong> @Model.PartTimeNumberOfHours</p>
        }
        <p><strong>Start Date:</strong> @Model.StartDate.ToString("MM/dd/yyyy")</p>
        <p><strong>End Date:</strong> @Model.EndDate.ToString("MM/dd/yyyy")</p>
        <p><strong>Hourly Rate:</strong> @Model.HourlyRate</p>
        <p><strong>Minimum Requirements:</strong> @Model.MinRequirements</p>
        <p><strong>Application Instruction:</strong> @Model.ApplicationInstruction</p>
        <p style="font-size: 1.1em; font-weight: bold; color: red;">
            <strong>Closing Date:</strong> @Model.ClosingDate.ToString("MM/dd/yyyy")
        </p>

    </div>

    <!-- Add input fields for adding a note and changing the outcome -->
    <div class="input-fields">
        <!-- Add a submit button to save the changes -->
        <div class="button-container">

            <button class="btn btn-danger close-button" asp-controller="Student" asp-action="StudentApplicationsHistory" asp-area="StudentJ">Close</button>
        </div>
    </div>
</form>