@model StudentEmploymentPortal.ViewModels.StudentViewModels.StudentJobPostViewModel

@{
    ViewData["Title"] = "Job Post Details";
}

<h1 class="section-heading">@ViewData["Title"]</h1>
<br />

<form method="post" asp-controller="StudentApplication" asp-action="CreateApplication" asp-area="StudentApplicationJ">
    <div class="section-content">

        <div class="table-responsive">
            <table class="custom-table">
                <tbody>
                    <tr>
                        <th>Job Title</th>
                        <td>@Model.JobTitle</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>@Model.Location</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>@Model.JobDescription</td>
                    </tr>
                    <tr>
                        <th>Key Responsibilities</th>
                        <td>@Model.KeyResponsibilities</td>
                    </tr>
                    <tr>
                        <th>Job Type</th>
                        <td>@Model.JobType</td>
                    </tr>
                    @if (Model.JobType.ToString() != "FullTime")
                    {
                        <tr>
                            <th>Part-Time Number of Hours</th>
                            <td>@Model.PartTimeNumberOfHours</td>
                        </tr>
                    }
                    <tr>
                        <th>Start Date</th>
                        <td>@Model.StartDate.ToString("MM/dd/yyyy")</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td>@Model.EndDate.ToString("MM/dd/yyyy")</td>
                    </tr>
                    <tr>
                        <th>Hourly Rate</th>
                        <td>@Model.HourlyRate</td>
                    </tr>
                    <tr>
                        <th>Minimum Requirements</th>
                        <td>@Model.MinRequirements</td>
                    </tr>
                    <tr>
                        <th>Application Instruction</th>
                        <td>@Model.ApplicationInstruction</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p style="font-size: 1.1em; font-weight: bold; color: red;">
            <strong>Closing Date:</strong> @Model.ClosingDate.ToString("MM/dd/yyyy")
        </p>

    </div>

    <!-- Add input fields for adding a note and changing the outcome -->
    <div class="input-fields">
        <!-- Add a submit button to save the changes -->
        <div class="button-container">
        @if (ViewData["studentApplicationStatus"].ToString() == "Application Incomplete")
        {

                <a class="btn btn-success close-button"
                   asp-controller="StudentApplication"
                   asp-action="AddApplicationDocument"
                   asp-area="StudentApplicationJ"
                   asp-route-id="@ViewData["studentApplicationId"]"
                   asp-route-pageName="StudentpplicationHistory">Upload Documents</a>
        }

            <button class="btn btn-danger close-button" asp-controller="Student" asp-action="StudentApplicationsHistory" asp-area="StudentJ">Close</button>
        </div>
    </div>
</form>
