@model StudentEmploymentPortal.ViewModels.RecruiterViewModels.JobPostViewModel

@{
    ViewData["Title"] = "Job Post Details";
}


<h1 class="section-heading">@ViewData["Title"]</h1>
<br />

<form id="ApproveRecruiterJobPost" method="post" asp-controller="Approver" asp-action="PartialJobPostDetails">
    @Html.AntiForgeryToken()
    <div class="section-content">
        <p><strong>Recruiter Type:</strong> @Model.RecruiterType</p>
        @if (Model.RecruiterType.ToString() == "Internal")
        {
            <p><strong>Faculty:</strong> @Model.Faculty</p>
        }

        <p><strong>Department:</strong> @Model.Department</p>
        <p><strong>Job Title:</strong> @Model.JobTitle</p>
        <p><strong>Location:</strong> @Model.Location</p>
        <p><strong>Job Description:</strong> @Model.JobDescription</p>
        <p><strong>Key Responsibilities:</strong> @Model.KeyResponsibilities</p>
        <p><strong>Job Type:</strong> @Model.JobType</p>
        @if (Model.JobType.ToString() != "FullTime")
        {
            <p><strong>Part-Time Number of Hours:</strong> @Model.PartTimeNumberOfHours</p>
        }
        <p><strong>Start Date:</strong> @Model.StartDate.ToString("MM/dd/yyyy")</p>
        <p><strong>End Date:</strong> @Model.EndDate.ToString("MM/dd/yyyy")</p>
        <p><strong>Hourly Rate:</strong> @Model.HourlyRate</p>
        <p><strong>Nationality:</strong> @Model.Nationality</p>
        <p><strong>Minimum Requirements:</strong> @Model.MinRequirements</p>
        <p><strong>Application Instruction:</strong> @Model.ApplicationInstruction</p>
        <p><strong>Contact Person:</strong> @Model.ContactPerson</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Contact No:</strong> @Model.ContactNo</p>
        <p><strong>Years of Study Options:</strong> @string.Join(", ", Model.YearsOfStudyOptions)</p>
        <p style="font-size: 1.1em; font-weight: bold; color: red;">
            <strong>Closing Date:</strong> @Model.ClosingDate.ToString("MM/dd/yyyy")
        </p>
    </div>

    <div class="section-content">
    <!-- Add input fields for adding a note and changing the outcome -->
  
        <div class="form-floating py-2 col-12 col-md-6">
            <!-- Adjust the width using col- classes -->
            <label asp-for="ApproversNote" class="form-label">Add Note</label>
            <textarea asp-for="ApproversNote" class="form-control" style="height: 150px;"></textarea> <!-- Adjust the height using inline style -->
        </div>

        <div class="form-floating py-2 col-12 col-md-6">
            <!-- Adjust the width using col- classes -->
            <label asp-for="ApprovalStatus" class="col-form-label-sm">Approval Status</label>
            <select asp-for="ApprovalStatus" asp-items="Model.ApprovalStatusOptions" class="form-select"></select>
        </div>


    </div>

    <!-- Add a submit button to save the changes -->
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button class="btn btn-danger close-button" asp-controller="Approver" asp-action="ManageRecruiterJobPosts">Close</button>
    </div>
   
</form>

